*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;
}

#Container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


.samurai {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 208, 0);
  border-radius: 50%;
  position: absolute;
  bottom: 160px;
  left: 20px; /* Adjust position as needed */
  transform: translateY(-50s);
  animation: jumpAnimation 0.5s ease infinite ;
}



.ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px;
    background-color: rgb(83, 83, 83);
}

.obstacle {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  bottom: 160px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}







@keyframes jumpAnimation {

  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-200px);
  }
  100% {
      transform: translateY(0);
  }

}

/* @keyframes moveScreenAnimation {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
} */










